%script{:'data-main'=>"scripts/require_ga.js", :src=>"scripts/require.min.js", :type => "text/javascript"}
%div.containerS.cf
  %hgroup.page
    %h1
      %a{:href=>'/'} Sarbotte designs
    %h2
      About us
  %div#application.about
    %h3
      Members
    %table.table
      %thead
        %tr
          %th Name
          %th Position
      %tbody
        %tr
          %td Nicolas Sarbotte
          %td CEO
    %h3
      Investors
    %table.table
      %thead
        %tr
          %th Name
          %th Amount
      %tbody
        %tr
          %td Morgan P.
          %td 1.30 €
        %tr
          %td Raphaël T.
          %td 1.07 €
        %tr
          %td Mathieu D.
          %td 0.87 €
        %tr
          %td JBF Investments England
          %td 0.27 £
        %tr
          %td JBF Investments France
          %td 0.30 €
        %tr
          %td JBF Investments Canada
          %td 0.35 $ CA
        %tr
          %td Christophe V.
          %td 0.20 €
        %tr
          %td Matthieu B.
          %td 0.06 €
        %tr
          %td Investisseur inconnu
          %td 0.01 €
    %h3
      Contact
    %span.contact contact@sarbotte-designs.com