%html
  %head
    %title Sarbotte designs
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic", :rel=>'stylesheet', :type=>'text/css'}
    %link{:href => "/css/goldilocks/css/example/global.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "/css/goldilocks/css/example/layout.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
  %body
    %div.containerS.cf
      %hgroup
        %h1{:style=>"margin-top: 0.3em; position: fixed; width: 100%;"}
          %a{:href=>'/'} Sarbotte designs
      %div{:id=>'application', :style=>'text-align: center; width: 600px; padding-top: 10em; margin: auto;'}

        %form{:action=>'/application', :method=>'post', :class=>'form-horizontal', :style=>'text-align: initial;'}

          %fieldset
            %legend Informations
            %p
              %strong
                %i Veuillez saisir les informations suivantes

            - # prénom
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'prenom'}
                Prénom
              %div{:class=>'controls'}
                %input{:type=>'text', :name=>'prenom', id:'prenom', :placeholder=>'Prénom', :class=>'input-xlarge'}
            - # nom
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'nom'}
                Nom
              %div{:class=>'controls'}
                %input{:type=>'text', :name=>'nom', :id=>'nom', :placeholder=>'Nom', :class=>'input-xlarge'}
            - # email
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'email'}
                Email
              %div{:class=>'controls'}
                %input{:type=>'text', :name=>'email', :id=>'email', :placeholder=>'Email', :class=>'input-xlarge'}
                %span{:class=>'help-block'}
                  %i Ne sera pas utilisé à des fins commerciales

          %fieldset
            %legend Sarbottisme

            - # sarbottisme
            %p
              %strong
                %i Veuillez décrire de façon succinte et détaillée votre expérience du Sarbottisme
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'experienceSarbottisme'}
                Réponse
              %div{:class=>'controls'}
                %textarea{:name=>'experienceSarbottisme', :id=>'experienceSarbottisme', :placeholder=>'Réponse', :class=>'input-xlarge'}

            - # sarbottisme
            %p
              %strong
                %i Comment avez-vous connu Sarbotte Designs ?
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'connuSarbotteDesigns'}
                Réponse
              %div{:class=>'controls'}
                %textarea{:name=>'connuSarbotteDesigns', :id=>'connuSarbotteDesigns', :placeholder=>'Réponse', :class=>'input-xlarge'}

          %fieldset
            %legend Test d'aptitudes

            - # js
            %p
              %strong
                %i Que renvoie l'expression suivante en javascript :
                %code typeof NaN
                %i ?
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'testJs'}
                Réponse
              %div{:class=>'controls'}
                %textarea{:name=>'testJs', :id=>'testJs', :placeholder=>'Réponse', :class=>'input-xlarge'}
            - # piliers Sarbottisme
            %p
              %strong
                %i Quels sont les cinq pilliers du Sarbottisme ?
            %div{:class=>'control-group'}
              %label{:class=>'control-label', :for=>'pilliersSarbottisme'}
                Réponse
              %div{:class=>'controls'}
                %textarea{:name=>'pilliersSarbottisme', :id=>'pilliersSarbottisme', :placeholder=>'Réponse', :class=>'input-xlarge'}


            %button{:type=>'submit', :class=>'btn'} Valider