%html
  %head
    %title Sarbotte designs
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic", :rel=>'stylesheet', :type=>'text/css'}
    %link{:href => "css/goldilocks/css/example/global.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "css/goldilocks/css/example/layout.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
  %body
    %div.containerS.cf
      %hgroup
        %h1
          Sarbotte designs
        %h3
          Your ideas, Sarbotte designs
        %div.email{:style=>"text-align: center; margin-top: 150px;"}
          Sarbotte Designs recruit. Submit your application
          %a{:href=>"/application", :style=>"text-decoration: none;"} here
