%html
  %head
    %title Sarbotte designs
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic", :rel=>'stylesheet', :type=>'text/css'}
    - # %link{:href => "css/goldilocks/main.css", :rel => "stylesheet", :type => "text/css"}
    - # %link{:href => "css/goldilocks/css/global.css", :rel => "stylesheet", :type => "text/css", :media => ">all"}
    - # %link{:href => "css/goldilocks/css/layout.css", :rel => "stylesheet", :type => "text/css", :media => "all and (min-width: 33.236em)"}
    %link{:href => "css/goldilocks/css/example/global.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "css/goldilocks/css/example/layout.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
  %body
    %div.container.cf
      %hgroup
        %h1
          Sarbotte designs
        %h3
          Your ideas, Sarbotte designs
        %div.email{:style=>"text-align: center;"}
          Submit your application
          %a{:href=>"mailto:sarbotte.designs@gmail.com?subject=Sarbotte forever"} here