%div.containerS.cf
  %hgroup
    %h1
      Sarbotte designs
    %h3
      Your ideas, Sarbotte designs
    %div.email{:style=>"text-align: center; margin-top: 150px;"}
    - #  Sarbotte Designs recruit. Submit your application
    - #  = succeed '.' do
    - #    %a{:href=>"/application", :style=>"text-decoration: none;"} here
