%script{:'data-main'=>"scripts/require_ga.js", :src=>"scripts/require.min.js", :type => "text/javascript"}
%div.containerS.cf
  %hgroup.home
    %h1
      Sarbotte designs
    %h3
      Your ideas, Sarbotte designs
  %ul.home_menu.inline_list
    %li
      %a{:href=>'/sqt'} Sarbotte Quality Tool
    %li
      %a{:href=>'#'} Secret project
    %li
      %a{:href=>'/about'} About us
    -# %div.email{:style=>"text-align: center; margin-top: 150px;"}
    -#
      Sarbotte Designs recruit. Submit your application
      = succeed '.' do
        %a{:href=>"/application", :style=>"text-decoration: none;"} here
