!!! 5
%html
  %head
    %title= locals[:title] || 'Sarbotte designs'
    %link{:href => "/css/sarbotte.min.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    -#
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38362238-1']);
        _gaq.push(['_setDomainName', 'sarbotte-designs.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    -#
      :javascript
        var _gaq=[['_setAccount','UA-38362238-1'],['_setDomainName', 'sarbotte-designs.com'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)})(document,'script')
  %body
    #content= yield