%div.containerS.cf
  %h1{:style=>"margin-top: 0.3em; position: fixed; width: 100%;"}
    %a{:href=>'/'} Sarbotte designs
  %div{:id=>'application', :style=>'width: 600px; padding-top: 10em; margin: auto;'}
    #{application}
    %div{:style=>"margin-top: 100px;"}
      Retrouvez la liste des postulants
      = succeed '.' do
        %a{:href=>'/applications'} ici