%link{:href => "/css/ace.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
%div.containerS.cf
  %hgroup
    %h1{:style=>"margin-top: 0.3em; position: fixed; width: 100%; z-index: 100;"}
      %a{:href=>'/'} Sarbotte designs
  %div{:id=>'application', :style=>'text-align: center; width: 80%; padding-top: 10em; margin: auto;'}

    %div#editors
      %div#editor var a = 2;

    %script{:'data-main'=>"scripts/main.js", :src=>"scripts/require.js"}

    %script

