#application.about {
  text-align: left;
}
#application.about table {
  font-size: 1.2em;
  padding: 1em;
}
#application.about table thead {
  color: #444;
}
#application.about table td {
  width: 50%;
}
#application.about h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #5a9eac;
  text-align: left;
}
#application.about .contact {
  padding-left: 10px;
  font-size: 1.2em;
}
