/*@import url("global.css");*/
/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
h1 { font-size: 4.4em; line-height:1.618em; margin-bottom:0.1em; margin-top: 4em; }
hgroup h1 { width: 100%; z-index: 100; }
hgroup.page h1 { margin-top: 0.3em; position: fixed;}
hgroup.home h1 { margin-tom: 4em; }
hgroup h2 { margin-top: 4em; position: fixed; width: 100%; z-index: 100; padding: 5 0;}
#application{ padding-top: 16em; text-align: center; width: 85%; margin: auto;}

.home_menu{ text-align: center; width: 50%; margin: auto; margin-top: 10em; font-size: 1.3em; }

.home_menu li + li:before{ content: " - "; padding: 0 10px; color: #555; }
.home_menu a{ color: #555; }
.inline_list ul{ margin: 0; padding: 0; list-style-type: none; }
.inline_list li{ display: inline; }

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {

  h1 { font-size: 2.618em; line-height: 1.4em; margin-top: 4em;}
  hgroup h2 { margin-top: 2.6em; font-size: 1.5em;}
  #application { padding-top: 10em;}
  #sqi{ font-size: 1.7em!important; }

}

@media screen and (max-width: 30em) {

  h1 { font-size: 2.618em; line-height: 1.2em; margin-top: 6em;}
  hgroup h2 { margin-top: 2em; font-size: 1.5em;}

}