@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.showoff {
  display: inline;
  float: left;
  width: 64.583333333%;
  margin: 0 1.041666667%;
  margin-left: 17.708333333%;
}
.showoff hgroup {
  display: inline;
  float: left;
  width: 64.583333333%;
  margin: 0 1.041666667%;
  margin-left: 17.708333333%;
}
