.editor{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DEDEDE;
  height: 100%;
}

#editors{
  width: 100%;
  margin: auto;
  text-align: left;
  height: 640px;
}

.results{
  padding-top: 20px;
  font-size: 1.2em;
}

h3.sqt{
  font-size: 1.2em;
}

#result{
  padding-left: 20px;
}

.left{
  float: left;
  width: 59%;
}

.right{
  float: right;
  width: 39%;
}

#sqi{
  font-size: 2.3em;
  font-weight: bold;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DEDEDE;
  padding: 20px;
  width: 100%;
  background-color: white;
}

#sqi .sqi{
  padding-right: 30px;
  border-right: solid 1px #DEDEDE;
}

#sqi .comment{
  margin-left: 18px;
  font-family: 'Annie Use Your Telescope';
}

#sqi_parent{
  margin-top: 15px;
}