#result {
  padding-left: 20px;
}

#editors {
  width: 100%;
  margin: auto;
  text-align: left;
  height: 640px;
  .left {
    float: left;
    width: 58%;
    height: 100%;
  }
  .right {
    float: right;
    width: 38%;
  }
  #site{
    display: none;
    form{
      margin-top: 20px;
      label{
        width: 100px;
      }
      .controls, button{
        margin-left: 120px;
        input[type=text]{
          height: 22px;
        }
      }
    }
    
  }
  .openCode, .openSite{
    cursor: pointer;
  }
}

.editor {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DEDEDE;
  height: 100%;
}

h3.sqt {
  font-size: 1.2em;
}

.results {
  padding-top: 20px;
  font-size: 1.2em;
}

.details{
  .result-header{
    display: none;
  }
  table td {
    word-wrap: break-word;
    white-space: normal;
    &.itemsqi{
      width: 10px;
    }
    pre {
      display: block;
      padding: 0px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0px;
      font-size: 100%;  
      line-height: 20px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      white-space: pre-wrap;
      background-color: transparent;
      border: none;
    }
  }
}

#sqi_parent {
  margin-top: 15px;
}

#sqi {
  font-size: 2.3em;
  font-weight: bold;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DEDEDE;
  padding: 0.6em;
  width: 100%;
  background-color: white;
  .comment {
    margin-left: 0.5em;
    font-family: 'Annie Use Your Telescope';
  }
  .sqi {
    padding-right: 1em;
    border-right: solid 1px #DEDEDE;
  }
}

.was{
  float: right;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DEDEDE;
  padding: 0px 6px;
  margin-right: 40px;
  font-size: 0.8em;
  &:hover{
    cursor: pointer;
    color: #5a9eac;
    background-color: #EEE;
  }
}

